@page "{handler?}/{id:int?}"

@model IndexModel

@functions {
    public class IndexModel : PageModel
    {
        private readonly AppDbContext _db;

        public IndexModel(AppDbContext db)
        {
            _db = db;
        }

        public IList<Customer> Customers { get; private set; }

        [TempData]
        public string Message { get; set; }

        public bool ShowMessage => !string.IsNullOrEmpty(Message);

        public async Task OnGetAsync()
        {
            Customers = await _db.Customers.AsNoTracking().ToListAsync();
        }

        public async Task<IActionResult> OnPostDeleteAsync(int id)
        {
            var customer = await _db.Customers.FindAsync(id);

            if (customer != null)
            {
                _db.Customers.Remove(customer);
                await _db.SaveChangesAsync();
            }

            Message = $"Customer {id} deleted successfully";

            return RedirectToPage();
        }
    }
}

@{
    ViewData["Title"] = "Customers";
}

<h1>Customers</h1>
<p>
    <div asp-if="Model.ShowMessage" class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        @Model.Message
    </div>
</p>
<form method="post">
    <table class="table">
        <thead>
            <tr>
                <th asp-display-name-for="Customers[0].Id"></th>
                <th asp-display-name-for="Customers[0].Name"></th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr asp-if="Model.Customers.Count == 0">
                <td colspan="3">No customers yet.</td>
            </tr>
            @foreach (var customer in Model.Customers)
            {
                <tr>
                    <td asp-display-for="@customer.Id"></td>
                    <td asp-display-for="@customer.Name"></td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@customer.Id" class="btn btn-xs btn-primary">edit</a>
                        <button type="submit" asp-page-handler="delete" asp-route-id="@customer.Id" class="btn btn-xs btn-danger">delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <a asp-page="./New" class="btn btn-sm btn-success">Create</a>
</form>